<?xml version="1.0" encoding="UTF-8"?>
<MetaDataObject xmlns="http://v8.1c.ru/8.3/MDClasses" xmlns:app="http://v8.1c.ru/8.2/managed-application/core" xmlns:cfg="http://v8.1c.ru/8.1/data/enterprise/current-config" xmlns:cmi="http://v8.1c.ru/8.2/managed-application/cmi" xmlns:ent="http://v8.1c.ru/8.1/data/enterprise" xmlns:lf="http://v8.1c.ru/8.2/managed-application/logform" xmlns:style="http://v8.1c.ru/8.1/data/ui/style" xmlns:sys="http://v8.1c.ru/8.1/data/ui/fonts/system" xmlns:v8="http://v8.1c.ru/8.1/data/core" xmlns:v8ui="http://v8.1c.ru/8.1/data/ui" xmlns:web="http://v8.1c.ru/8.1/data/ui/colors/web" xmlns:win="http://v8.1c.ru/8.1/data/ui/colors/windows" xmlns:xen="http://v8.1c.ru/8.3/xcf/enums" xmlns:xpr="http://v8.1c.ru/8.3/xcf/predef" xmlns:xr="http://v8.1c.ru/8.3/xcf/readable" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.20">
	<Subsystem uuid="2b5d156f-6ce3-4a76-b3e6-2e61249d9237">
		<Properties>
			<Name>Settings</Name>
			<Synonym>
				<v8:item>
					<v8:lang>en</v8:lang>
					<v8:content>Settings</v8:content>
				</v8:item>
				<v8:item>
					<v8:lang>ru</v8:lang>
					<v8:content>Настройки</v8:content>
				</v8:item>
				<v8:item>
					<v8:lang>de</v8:lang>
					<v8:content>Einstellungen</v8:content>
				</v8:item>
			</Synonym>
			<Comment/>
			<IncludeHelpInContents>true</IncludeHelpInContents>
			<IncludeInCommandInterface>true</IncludeInCommandInterface>
			<UseOneCommand>false</UseOneCommand>
			<Explanation/>
			<Picture>
				<xr:Ref>CommonPicture.SubsystemSettings</xr:Ref>
				<xr:LoadTransparent>true</xr:LoadTransparent>
			</Picture>
			<Content>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ButtonsPanelBackground</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ButtonsPanelFrame</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.FilterPanelBackground</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.GroupBoxCaptionFont</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.GuaranteedResourceReservationBorderColor</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ReportFiltersFont</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ReportHeaderFont</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ReportHeaderTextColor</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ReportTableFont</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ReportTableHeaderBackColor</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ReportTableHeaderFont</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ReportTableHeaderTextColor</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ReportTableTextColor</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ResourceReservationBackColor</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.ResourceReservationBorderColor</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.SumTotals</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">StyleItem.MandatoryFieldLabelFont</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Style.Windows</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Style.Orange</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Style.Dew</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Style.Mint</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">SessionParameter.CurrentWorkstation</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">SessionParameter.CurrentLanguage</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">SessionParameter.StyleName</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">SessionParameter.ConfigurationName</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">SessionParameter.ConfigurationPresentation</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Role.Administrator</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">CommonModule.Settings</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">ScheduledJob.ClearDatabaseJob</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">ScheduledJob.GenerateReport</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">ScheduledJob.JoinFullTextSearchIndexesJob</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">ScheduledJob.RecalculateAccumulationRegistersTotalsJob</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">ScheduledJob.RefreshFullTextSearchIndexJob</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">ScheduledJob.RunDataProcessor</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Constant.ProgramVersionNumber</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Constant.ProtectionSystemServer</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Constant.ProtectionSystemType</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Catalog.BarcodesScannerConnectionParameters</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Catalog.DoorLockSystemParameters</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Catalog.IdentityCardsSystemParameters</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Catalog.PermissionGroups</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Catalog.RibbonPrinterConnectionParameters</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Catalog.Units</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.BackgroundJobTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.BarCodeTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.CardReaderTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ColorDepths</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ConnectionTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.CopiesPerPage</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.CreditCardsProcessingSystems</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.DataBits</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.DoorLockSystems</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ExternalProcessingTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.FileEncoding</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ImageScannerDrivers</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.JobRunTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ObjectFormActionButtons</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.PageOrientations</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.PaperSizes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ParityTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.PeriodCheckTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.PeriodicityTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.POP3AuthenticationTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.PrintDirections</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ProgramAppearanceStyles</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ProtectionSystemTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.QuantityRoundingRules</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ReportAppearanceTemplateTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ReportAutoscaleTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ReportDimensionAttributesPlacementTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ReportDimensionsPlacementTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ReportTotalsPlacementTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.RibbonPrinterDrivers</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.SMTPAuthenticationTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.StopBits</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.AbbyyImageScannerDriver</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.AtolRibbonPrinterDriver</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.BarcodesScannerProcessingDriver</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.ClearDatabase</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.CognitiveImageScannerDriver</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.CopyGuestGroupReservations</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.CopyReportSettings</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.FullTextSearch</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.GuardantProtectionSettingsWizard</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.IdentityCardsProcessingDriver</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.InfoBaseUpdate</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.IntermecRibbonPrinterDriver</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.LicenseAgreement</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.LoadOrdersFrom1CRestaurantFO</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.RecognizeNewClientDataScans</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.Scan1CImageScannerDriver</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.Scan1CWebCamDriver</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">InformationRegister.EmployeeNonReplicatingAttributes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">InformationRegister.HotelNonReplicatingAttributes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">InformationRegister.ScheduledReports</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.DeleteDataFromDatabase</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">CommonPicture.SubsystemSettings</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Document.AddRoom</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Document.ChangeRoom</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Catalog.PersonalDataProcessingAgreementTexts</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.ProcessingOfPersonalDataTypesOfConsent</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Document.PersonalDataProcessingRefusal</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Document.PersonalDataProcessingConsent</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DocumentJournal.PersonalDataProcessingJournal</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">CommonForm.tcProtectionForm</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">FunctionalOption.WebClientAccess</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">FunctionalOption.ThickClientAccess</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">FunctionalOption.ThinClientAccess</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.GuestDataExportHeaderTypesRu</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">CommonForm.tcConstantsForm</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.DuplexPrintingTypes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.UnisenderGO</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.HAFELELockDoorLockSystemDriver</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.ExportFacturaeXML</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.ExportClientsTo1CFitnes</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">SessionParameter.IsDemoMode</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.SetDemoMode</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">InformationRegister.UserActionsHistory</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.ActiveUsers</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">DataProcessor.FirstFilling</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.HotelClassification</xr:Item>
				<xr:Item xsi:type="xr:MDObjectRef">Enum.HotelCategory</xr:Item>
			</Content>
		</Properties>
		<ChildObjects>
			<Subsystem>Accounting</Subsystem>
			<Subsystem>Accounts</Subsystem>
			<Subsystem>Addresses</Subsystem>
			<Subsystem>Administration</Subsystem>
			<Subsystem>Analytics</Subsystem>
			<Subsystem>ChannelManagers</Subsystem>
			<Subsystem>Classifiers</Subsystem>
			<Subsystem>CRM</Subsystem>
			<Subsystem>DeviceConnectionSettings</Subsystem>
			<Subsystem>Housekeeping</Subsystem>
			<Subsystem>Orders</Subsystem>
			<Subsystem>Pricing</Subsystem>
			<Subsystem>Resources</Subsystem>
			<Subsystem>Rooms</Subsystem>
			<Subsystem>SystemData</Subsystem>
			<Subsystem>DataExchange</Subsystem>
			<Subsystem>APDEX</Subsystem>
		</ChildObjects>
	</Subsystem>
</MetaDataObject>